@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
  font-size: 35pt;
  display: flex;
  justify-content: center;
}

.dur-cont {
  display: flex;
  gap: 1em;
}

.nam {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.sep {
  flex: 0;
  font-weight: 900;
}

.dur {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}